<header class="header-title">
    <h1>
        Profil Formateur
    </h1>
</header>
<div class="image-wrapper">
    <img src="../assets/imagef.jpg" alt="" srcset="">
</div>
<div class="body">
    <div class="avatar">
        <img src="../assets/form.png" alt="">
    </div>
    <div class="profil-details-wrapper">
        <div class="profil-details">
            <p><b>Prénom et Nom:</b> Tidjiane Touré<br></p>
            <p><b>Domaine(s) d’activité:</b> Développeur web<br></p>
            <p><b>Horaires des cours:</b> 9h-13h et 14h-17h<br></p>
            <p><b>Email:</b> touretige123@gmail.com <br></p>
            <p><b>Téléphone:</b> +221779892010<br></p>
        </div>
    </div>
    <div class="pdv1">
        <img class="pdv2" src="../assets/pdv.jpg" alt="" srcset="">
        <div class="caractere">Humain, sociable et responsable</div>
    </div>
</div>
<button>Deconnexion</button>